.about-section {
  padding: 0 50px;
  transition: all ease-in-out 0.5s;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

@media only screen and (max-width: 400px) {
  .about-section {
    margin: 0 15px;
    padding: 0;
    transition: all ease-in-out 0.5s;
  }
}
