.container {
  transition: all ease-in-out 0.1s;
}

.page-container {
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
  background-color: white;
}

.site-section {
  margin: 0 50px 0px;
}

.site-section-lg {
  margin: 50px 0 0;
}

@media only screen and (max-width: 550px) {
  .container {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 400px) {
  .site-section {
    margin: 0px 15px 50px;
  }

  .site-section-lg {
    margin: 15px 0px 50px;
  }
}
