.testimony-card {
  position: relative;
  max-width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    90deg,
    rgba(182, 215, 181, 1) 0%,
    rgba(224, 238, 224, 1) 23%,
    rgba(255, 255, 255, 1) 100%
  );
  overflow: hidden;
}

.testimony {
  position: relative;
  z-index: 1;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: flex-end;
  margin-top: 20px;
}

.profile-img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 20px;
}

.name {
  font-family: "Montserrat", sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0;
  color: #cf7aa0;
}

.position {
  font-family: "Montserrat", sans-serif !important;
  font-style: italic;
  font-weight: 500;
  margin: 0;
  color: #728271;
  font-size: small;
}

.quote {
  margin: 0 auto 25px;
  height: 30px;
  width: 30px;
  line-height: 1;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6f956e;
  color: #6f956e;
  border-radius: 50%;
}

.company {
  font-family: "Montserrat", sans-serif !important;
  color: #cf7aa0;
}

@media only screen and (max-width: 500px) {
  .profile {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .profile-information {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
  }
}
